In [1]:
import pandas as pd
import numpy as np

In [2]:
train_data = pd.read_csv('train.csv')

In [3]:
train_data.shape

(23524, 13)

In [4]:
columns = train_data.columns

In [5]:
train_data.head(5)

,country,year,uniqueid,bank_account,location_type,cellphone_access,household_size,age_of_respondent,gender_of_respondent,relationship_with_head,marital_status,education_level,job_type
0,Kenya,2018,uniqueid_1,Yes,Rural,Yes,3,24,Female,Spouse,Married/Living together,Secondary education,Self employed
1,Kenya,2018,uniqueid_2,No,Rural,No,5,70,Female,Head of Household,Widowed,No formal education,Government Dependent
2,Kenya,2018,uniqueid_3,Yes,Urban,Yes,5,26,Male,Other relative,Single/Never Married,Vocational/Specialised training,Self employed
3,Kenya,2018,uniqueid_4,No,Rural,Yes,5,34,Female,Head of Household,Married/Living together,Primary education,Formally employed Private
4,Kenya,2018,uniqueid_5,No,Urban,No,8,26,Male,Child,Single/Never Married,Primary education,Informally employed

In [6]:
for i in columns:
    exec("print( - len(train_data.%s.unique()))"%i)

-4
-3
-8735
-2
-2
-2
-20
-85
-2
-6
-5
-6
-10

In [7]:
columns

Index(['country', 'year', 'uniqueid', 'bank_account', 'location_type',
       'cellphone_access', 'household_size', 'age_of_respondent',
       'gender_of_respondent', 'relationship_with_head', 'marital_status',
       'education_level', 'job_type'],
      dtype='object')

In [8]:
# countinuous - household_size, age_of_respondent
columns_new = ['uniqueid', 'country', 'year', 'location_type',
       'cellphone_access', 'household_size', 'age_of_respondent',
       'gender_of_respondent', 'relationship_with_head', 'marital_status',
       'education_level', 'job_type', 'bank_account']

In [9]:
train_data = train_data[columns_new]

In [10]:
for i in columns_new:
    exec("print( - len(train_data.%s.unique()))"%i)

-8735
-4
-3
-2
-2
-20
-85
-2
-6
-5
-6
-10
-2

In [11]:
train_data.head()

,uniqueid,country,year,location_type,cellphone_access,household_size,age_of_respondent,gender_of_respondent,relationship_with_head,marital_status,education_level,job_type,bank_account
0,uniqueid_1,Kenya,2018,Rural,Yes,3,24,Female,Spouse,Married/Living together,Secondary education,Self employed,Yes
1,uniqueid_2,Kenya,2018,Rural,No,5,70,Female,Head of Household,Widowed,No formal education,Government Dependent,No
2,uniqueid_3,Kenya,2018,Urban,Yes,5,26,Male,Other relative,Single/Never Married,Vocational/Specialised training,Self employed,Yes
3,uniqueid_4,Kenya,2018,Rural,Yes,5,34,Female,Head of Household,Married/Living together,Primary education,Formally employed Private,No
4,uniqueid_5,Kenya,2018,Urban,No,8,26,Male,Child,Single/Never Married,Primary education,Informally employed,No

In [12]:
train_data.dtypes

uniqueid                  object
country                   object
year                       int64
location_type             object
cellphone_access          object
household_size             int64
age_of_respondent          int64
gender_of_respondent      object
relationship_with_head    object
marital_status            object
education_level           object
job_type                  object
bank_account              object
dtype: object

In [13]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

X = train_data.iloc[:,:-1].values
y = train_data.iloc[:, -1].values

In [14]:
X #1,2,8,9,10,11

array([['uniqueid_1', 'Kenya', 2018, ..., 'Married/Living together',
        'Secondary education', 'Self employed'],
       ['uniqueid_2', 'Kenya', 2018, ..., 'Widowed',
        'No formal education', 'Government Dependent'],
       ['uniqueid_3', 'Kenya', 2018, ..., 'Single/Never Married',
        'Vocational/Specialised training', 'Self employed'],
       ...,
       ['uniqueid_2115', 'Uganda', 2018, ..., 'Widowed',
        'Primary education', 'Other Income'],
       ['uniqueid_2116', 'Uganda', 2018, ..., 'Divorced/Seperated',
        'Secondary education', 'Self employed'],
       ['uniqueid_2117', 'Uganda', 2018, ..., 'Single/Never Married',
        'Secondary education', 'No Income']], dtype=object)

In [15]:
X.shape

(23524, 12)

In [16]:
labelencoder_X1 = LabelEncoder()
X[:, 1] = labelencoder_X1.fit_transform(X[:, 1])
labelencoder_X2 = LabelEncoder()
X[:, 2] = labelencoder_X2.fit_transform(X[:, 2])
labelencoder_X3 = LabelEncoder()
X[:, 3] = labelencoder_X3.fit_transform(X[:, 3])
labelencoder_X4 = LabelEncoder()
X[:, 4] = labelencoder_X4.fit_transform(X[:, 4])
labelencoder_X7 = LabelEncoder()
X[:, 7] = labelencoder_X7.fit_transform(X[:, 7])
labelencoder_X8 = LabelEncoder()
X[:, 8] = labelencoder_X8.fit_transform(X[:, 8])
labelencoder_X9 = LabelEncoder()
X[:, 9] = labelencoder_X9.fit_transform(X[:, 9])
labelencoder_X10 = LabelEncoder()
X[:, 10] = labelencoder_X10.fit_transform(X[:, 10])
labelencoder_X11 = LabelEncoder()
X[:, 11] = labelencoder_X11.fit_transform(X[:, 11])
labelencoder_y = LabelEncoder()
y = labelencoder_y.fit_transform(y)

In [17]:
X = X[:,1:]

In [18]:
from sklearn.preprocessing import OneHotEncoder
# One Hot encoding-->>
onehotencoder1 = OneHotEncoder(categorical_features = [0,1,7,8,9,10])
X = onehotencoder1.fit_transform(X).toarray()

/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:451: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

In [19]:
X.shape

(23524, 39)

In [20]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X = sc.fit_transform(X)

In [135]:
import keras
from keras.models import Sequential
from keras.layers import Dense,Dropout

# Initialising the ANN
classifier = Sequential()

# Adding the input layer and the first hidden layer
classifier.add(Dense(output_dim = 128, init = 'uniform', activation = 'relu', input_dim = 39))
classifier.add(Dropout(0.3))


# Adding the second hidden layer
classifier.add(Dense(output_dim = 256, activation = 'relu'))

classifier.add(Dropout(0.3))

# Adding the output layer
classifier.add(Dense(output_dim = 1, activation = 'sigmoid'))

# Compiling the ANN
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

# Fitting the ANN to the Training set
classifier.fit(X, y, batch_size = 8, nb_epoch = 100)

# Part 3 - Making the predictions and evaluating the model

# Predicting the Test set results
'''y_pred = classifier.predict(X_test)
y_pred = (y_pred > 0.5)

# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)'''

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", input_dim=39, units=128, kernel_initializer="uniform")`
  if __name__ == '__main__':
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:14: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", units=256)`

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:19: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="sigmoid", units=1)`
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.

Epoch 1/100
23524/23524 [==============================] - 5s 208us/step - loss: 0.3021 - acc: 0.8819
Epoch 2/100
23524/23524 [==============================] - 4s 163us/step - loss: 0.2920 - acc: 0.8860
Epoch 3/100
23524/23524 [==============================] - 4s 164us/step - loss: 0.2886 - acc: 0.8871
Epoch 4/100
23524/23524 [==============================] - 4s 163us/step - loss: 0.2862 - acc: 0.8888
Epoch 5/100
23524/23524 [==============================] - 4s 180us/step - loss: 0.2856 - acc: 0.8883 0s - loss: 0.2852 - acc: 0
Epoch 6/100
23524/23524 [==============================] - 5s 205us/step - loss: 0.2840 - acc: 0.8890 0s - loss: 0.2861 - acc:
Epoch 7/100
23524/23524 [==============================] - 4s 176us/step - loss: 0.2850 - acc: 0.8881
Epoch 8/100
23524/23524 [==============================] - 4s 189us/step - loss: 0.2824 - acc: 0.8903
Epoch 9/100
23524/23524 [==============================] - 4s 175us/step - loss: 0.2827 - acc: 0.8882
Epoch 10/100
23524/23524 [==============================] - 5s 197us/step - loss: 0.2810 - acc: 0.8881 0s - loss: 0.2812 - acc: 0.8
Epoch 11/100
23524/23524 [==============================] - 4s 168us/step - loss: 0.2821 - acc: 0.8900
Epoch 12/100
23524/23524 [==============================] - 5s 197us/step - loss: 0.2796 - acc: 0.8893
Epoch 13/100
23524/23524 [==============================] - 4s 189us/step - loss: 0.2799 - acc: 0.8901 3s
Epoch 14/100
23524/23524 [==============================] - 5s 202us/step - loss: 0.2802 - acc: 0.8912
Epoch 15/100
23524/23524 [==============================] - 4s 184us/step - loss: 0.2787 - acc: 0.8901
Epoch 16/100
23524/23524 [==============================] - 5s 218us/step - loss: 0.2780 - acc: 0.8915
Epoch 17/100
23524/23524 [==============================] - 5s 214us/step - loss: 0.2798 - acc: 0.8905
Epoch 18/100
23524/23524 [==============================] - 5s 230us/step - loss: 0.2781 - acc: 0.8904
Epoch 19/100
23524/23524 [==============================] - 4s 167us/step - loss: 0.2770 - acc: 0.8910
Epoch 20/100
23524/23524 [==============================] - 4s 172us/step - loss: 0.2780 - acc: 0.8912
Epoch 21/100
23524/23524 [==============================] - 5s 203us/step - loss: 0.2761 - acc: 0.8920 0s - loss: 0.2775 - acc:  - ETA: 0s - loss: 0.2768 - acc: 0
Epoch 22/100
23524/23524 [==============================] - 4s 174us/step - loss: 0.2753 - acc: 0.8921
Epoch 23/100
23524/23524 [==============================] - 4s 174us/step - loss: 0.2765 - acc: 0.8915
Epoch 24/100
23524/23524 [==============================] - 4s 185us/step - loss: 0.2749 - acc: 0.8899
Epoch 25/100
23524/23524 [==============================] - 5s 199us/step - loss: 0.2765 - acc: 0.8911 0s - loss: 0.275 - ETA: 0s - loss: 0.2747 - acc: 0
Epoch 26/100
23524/23524 [==============================] - 5s 221us/step - loss: 0.2745 - acc: 0.8934
Epoch 27/100
23524/23524 [==============================] - 5s 195us/step - loss: 0.2748 - acc: 0.8937
Epoch 28/100
23524/23524 [==============================] - 4s 167us/step - loss: 0.2744 - acc: 0.8930
Epoch 29/100
23524/23524 [==============================] - 4s 170us/step - loss: 0.2735 - acc: 0.8916
Epoch 30/100
23524/23524 [==============================] - 4s 166us/step - loss: 0.2711 - acc: 0.8933
Epoch 31/100
23524/23524 [==============================] - 4s 174us/step - loss: 0.2725 - acc: 0.8928
Epoch 32/100
23524/23524 [==============================] - 4s 168us/step - loss: 0.2718 - acc: 0.8940
Epoch 33/100
23524/23524 [==============================] - 4s 167us/step - loss: 0.2717 - acc: 0.8937
Epoch 34/100
23524/23524 [==============================] - 4s 168us/step - loss: 0.2710 - acc: 0.8930
Epoch 35/100
23524/23524 [==============================] - 4s 165us/step - loss: 0.2718 - acc: 0.8922
Epoch 36/100
23524/23524 [==============================] - 4s 165us/step - loss: 0.2703 - acc: 0.8928
Epoch 37/100
23524/23524 [==============================] - 4s 168us/step - loss: 0.2700 - acc: 0.8943
Epoch 38/100
23524/23524 [==============================] - 4s 165us/step - loss: 0.2714 - acc: 0.8925
Epoch 39/100
23524/23524 [==============================] - 4s 167us/step - loss: 0.2724 - acc: 0.8930
Epoch 40/100
23524/23524 [==============================] - 4s 164us/step - loss: 0.2709 - acc: 0.8938
Epoch 41/100
23524/23524 [==============================] - 4s 182us/step - loss: 0.2698 - acc: 0.8949 0s - loss: 0.2698 -
Epoch 42/100
23524/23524 [==============================] - 5s 192us/step - loss: 0.2704 - acc: 0.8947 0s - loss: 0.2699 - acc: 0.89
Epoch 43/100
23524/23524 [==============================] - 4s 178us/step - loss: 0.2693 - acc: 0.8939
Epoch 44/100
23524/23524 [==============================] - 4s 181us/step - loss: 0.2687 - acc: 0.8945
Epoch 45/100
23524/23524 [==============================] - 4s 183us/step - loss: 0.2681 - acc: 0.8947
Epoch 46/100
23524/23524 [==============================] - 4s 180us/step - loss: 0.2683 - acc: 0.8939
Epoch 47/100
23524/23524 [==============================] - 4s 178us/step - loss: 0.2666 - acc: 0.8953
Epoch 48/100
23524/23524 [==============================] - 4s 171us/step - loss: 0.2654 - acc: 0.8948
Epoch 49/100
23524/23524 [==============================] - 4s 186us/step - loss: 0.2658 - acc: 0.8960 0s - loss: 0.265
Epoch 50/100
23524/23524 [==============================] - 4s 170us/step - loss: 0.2677 - acc: 0.8948
Epoch 51/100
23524/23524 [==============================] - 4s 165us/step - loss: 0.2658 - acc: 0.8961
Epoch 52/100
23524/23524 [==============================] - 4s 164us/step - loss: 0.2655 - acc: 0.8973
Epoch 53/100
23524/23524 [==============================] - 4s 168us/step - loss: 0.2654 - acc: 0.8964
Epoch 54/100
23524/23524 [==============================] - 4s 164us/step - loss: 0.2658 - acc: 0.8967
Epoch 55/100
23524/23524 [==============================] - 4s 163us/step - loss: 0.2666 - acc: 0.8946
Epoch 56/100
23524/23524 [==============================] - 4s 164us/step - loss: 0.2647 - acc: 0.8965
Epoch 57/100
23524/23524 [==============================] - 4s 166us/step - loss: 0.2635 - acc: 0.8970
Epoch 58/100
23524/23524 [==============================] - 4s 163us/step - loss: 0.2658 - acc: 0.8953
Epoch 59/100
23524/23524 [==============================] - 4s 180us/step - loss: 0.2651 - acc: 0.8960 2s - loss: 0.2664 - acc: 0.8 - ETA: 0s - loss: 0.2661
Epoch 60/100
23524/23524 [==============================] - 4s 166us/step - loss: 0.2642 - acc: 0.8962
Epoch 61/100
23524/23524 [==============================] - 4s 176us/step - loss: 0.2666 - acc: 0.8950
Epoch 62/100
23524/23524 [==============================] - 5s 205us/step - loss: 0.2631 - acc: 0.8955 0s - loss: 0.2624 - acc: 0.895
Epoch 63/100
23524/23524 [==============================] - 4s 174us/step - loss: 0.2642 - acc: 0.8960
Epoch 64/100
23524/23524 [==============================] - 4s 169us/step - loss: 0.2640 - acc: 0.8963 1s -
Epoch 65/100
23524/23524 [==============================] - 4s 163us/step - loss: 0.2607 - acc: 0.8993 0s - loss: 0.2594 - a
Epoch 66/100
23524/23524 [==============================] - 4s 168us/step - loss: 0.2630 - acc: 0.8960
Epoch 67/100
23524/23524 [==============================] - 4s 168us/step - loss: 0.2600 - acc: 0.8968
Epoch 68/100
23524/23524 [==============================] - 5s 230us/step - loss: 0.2617 - acc: 0.8993 6s - l - ETA: 3s -
Epoch 69/100
23524/23524 [==============================] - 5s 221us/step - loss: 0.2611 - acc: 0.8962
Epoch 70/100
23524/23524 [==============================] - 4s 187us/step - loss: 0.2611 - acc: 0.8972 1s - loss: 0.2635 - acc: 0.895 - ETA: 1s - los
Epoch 71/100
23524/23524 [==============================] - 4s 178us/step - loss: 0.2618 - acc: 0.8971 0s - loss: 0.25
Epoch 72/100
23524/23524 [==============================] - 4s 174us/step - loss: 0.2597 - acc: 0.8987
Epoch 73/100
23524/23524 [==============================] - 4s 181us/step - loss: 0.2609 - acc: 0.8982
Epoch 74/100
23524/23524 [==============================] - 4s 165us/step - loss: 0.2609 - acc: 0.8971
Epoch 75/100
23524/23524 [==============================] - 4s 163us/step - loss: 0.2607 - acc: 0.8988
Epoch 76/100

23524/23524 [==============================] - 4s 179us/step - loss: 0.2621 - acc: 0.8965
Epoch 77/100
23524/23524 [==============================] - 5s 206us/step - loss: 0.2596 - acc: 0.8991 1s - loss: 0.2576  - ETA: 0s - loss: 0.2597 - acc: 0.8
Epoch 78/100
23524/23524 [==============================] - 4s 169us/step - loss: 0.2595 - acc: 0.8977
Epoch 79/100
23524/23524 [==============================] - 4s 167us/step - loss: 0.2601 - acc: 0.8983
Epoch 80/100
23524/23524 [==============================] - 4s 169us/step - loss: 0.2583 - acc: 0.8994 1s - los
Epoch 81/100
23524/23524 [==============================] - 4s 169us/step - loss: 0.2589 - acc: 0.8978
Epoch 82/100
23524/23524 [==============================] - 4s 165us/step - loss: 0.2605 - acc: 0.8982
Epoch 83/100
23524/23524 [==============================] - 4s 168us/step - loss: 0.2586 - acc: 0.8997 0s - loss: 0.2569
Epoch 84/100
23524/23524 [==============================] - 4s 167us/step - loss: 0.2566 - acc: 0.9002 0s - loss: 0.2581 -
Epoch 85/100
23524/23524 [==============================] - 4s 166us/step - loss: 0.2595 - acc: 0.8992
Epoch 86/100
23524/23524 [==============================] - 4s 169us/step - loss: 0.2582 - acc: 0.8994
Epoch 87/100
23524/23524 [==============================] - 4s 166us/step - loss: 0.2578 - acc: 0.9010
Epoch 88/100
23524/23524 [==============================] - 4s 168us/step - loss: 0.2580 - acc: 0.8990
Epoch 89/100
23524/23524 [==============================] - 4s 169us/step - loss: 0.2565 - acc: 0.8995
Epoch 90/100
23524/23524 [==============================] - 4s 172us/step - loss: 0.2624 - acc: 0.8976
Epoch 91/100
23524/23524 [==============================] - 4s 175us/step - loss: 0.2584 - acc: 0.8987
Epoch 92/100
23524/23524 [==============================] - 4s 168us/step - loss: 0.2554 - acc: 0.8993
Epoch 93/100
23524/23524 [==============================] - 4s 191us/step - loss: 0.2570 - acc: 0.8987
Epoch 94/100
23524/23524 [==============================] - 5s 193us/step - loss: 0.2578 - acc: 0.8990
Epoch 95/100
23524/23524 [==============================] - 5s 192us/step - loss: 0.2577 - acc: 0.8989 1s - loss:  - ETA: 0s - loss: 0.2608 -
Epoch 96/100
23524/23524 [==============================] - 5s 198us/step - loss: 0.2580 - acc: 0.8983 0s - loss: 0.2553
Epoch 97/100
23524/23524 [==============================] - 4s 187us/step - loss: 0.2555 - acc: 0.8991
Epoch 98/100
23524/23524 [==============================] - 5s 218us/step - loss: 0.2562 - acc: 0.9001
Epoch 99/100
23524/23524 [==============================] - 5s 199us/step - loss: 0.2605 - acc: 0.8989
Epoch 100/100
23524/23524 [==============================] - 7s 294us/step - loss: 0.2576 - acc: 0.8993 0s - loss: 0.2554 - a

'y_pred = classifier.predict(X_test)\ny_pred = (y_pred > 0.5)\n\n# Making the Confusion Matrix\nfrom sklearn.metrics import confusion_matrix\ncm = confusion_matrix(y_test, y_pred)'

In [53]:
'''from keras.models import load_model

classifier.save('Classifier_model.h5')  # creates a HDF5 file 'my_model.h5'
del model  # deletes the existing model

# returns a compiled model
# identical to the previous one
classifier = load_model('Classifier_model.h5')'''

"from keras.models import load_model\n\nclassifier.save('Classifier_model.h5')  # creates a HDF5 file 'my_model.h5'\ndel model  # deletes the existing model\n\n# returns a compiled model\n# identical to the previous one\nclassifier = load_model('Classifier_model.h5')"

In [54]:
'''model_json = classifier.to_json()
with open("model.json", "w") as json_file:
    json_file.write(model_json)
# serialize weights to HDF5
classifier.save_weights("model.h5")
print("Saved model to disk")

# load json and create model
json_file = open('model.json', 'r')
loaded_model_json = json_file.read()
json_file.close()
loaded_model = model_from_json(loaded_model_json)
# load weights into new model
loaded_model.load_weights("model.h5")
print("Loaded model from disk")
 
# evaluate loaded model on test data
loaded_model.compile(loss='binary_crossentropy', optimizer='rmsprop', metrics=['accuracy'])
score = loaded_model.evaluate(X, Y, verbose=0)
print("%s: %.2f%%" % (loaded_model.metrics_names[1], score[1]*100))'''

'model_json = classifier.to_json()\nwith open("model.json", "w") as json_file:\n    json_file.write(model_json)\n# serialize weights to HDF5\nclassifier.save_weights("model.h5")\nprint("Saved model to disk")\n\n# load json and create model\njson_file = open(\'model.json\', \'r\')\nloaded_model_json = json_file.read()\njson_file.close()\nloaded_model = model_from_json(loaded_model_json)\n# load weights into new model\nloaded_model.load_weights("model.h5")\nprint("Loaded model from disk")\n \n# evaluate loaded model on test data\nloaded_model.compile(loss=\'binary_crossentropy\', optimizer=\'rmsprop\', metrics=[\'accuracy\'])\nscore = loaded_model.evaluate(X, Y, verbose=0)\nprint("%s: %.2f%%" % (loaded_model.metrics_names[1], score[1]*100))'

In [55]:
'''# serialize model to YAML
model_yaml = classifier.to_yaml()
with open("model.yaml", "w") as yaml_file:
    yaml_file.write(model_yaml)
# serialize weights to HDF5
classifier.save_weights("model.h5")
print("Saved model to disk")
 
# later...
 
# load YAML and create model
yaml_file = open('model.yaml', 'r')
loaded_model_yaml = yaml_file.read()
yaml_file.close()
loaded_model = model_from_yaml(loaded_model_yaml)
# load weights into new model
loaded_model.load_weights("model.h5")
print("Loaded model from disk")
 
# evaluate loaded model on test data
loaded_model.compile(loss='binary_crossentropy', optimizer='rmsprop', metrics=['accuracy'])
score = loaded_model.evaluate(X, Y, verbose=0)
print("%s: %.2f%%" % (loaded_model.metrics_names[1], score[1]*100))'''

'# serialize model to YAML\nmodel_yaml = classifier.to_yaml()\nwith open("model.yaml", "w") as yaml_file:\n    yaml_file.write(model_yaml)\n# serialize weights to HDF5\nclassifier.save_weights("model.h5")\nprint("Saved model to disk")\n \n# later...\n \n# load YAML and create model\nyaml_file = open(\'model.yaml\', \'r\')\nloaded_model_yaml = yaml_file.read()\nyaml_file.close()\nloaded_model = model_from_yaml(loaded_model_yaml)\n# load weights into new model\nloaded_model.load_weights("model.h5")\nprint("Loaded model from disk")\n \n# evaluate loaded model on test data\nloaded_model.compile(loss=\'binary_crossentropy\', optimizer=\'rmsprop\', metrics=[\'accuracy\'])\nscore = loaded_model.evaluate(X, Y, verbose=0)\nprint("%s: %.2f%%" % (loaded_model.metrics_names[1], score[1]*100))'

In [120]:
test = pd.read_csv('test.csv')

In [121]:
test_columns = test.columns

In [122]:
test_columns_new = ['uniqueid', 'country', 'year', 'location_type',
       'cellphone_access', 'household_size', 'age_of_respondent',
       'gender_of_respondent', 'relationship_with_head', 'marital_status',
       'education_level', 'job_type']

In [123]:
test = test[test_columns_new]

In [124]:
X_test = test.iloc[:,:].values

In [125]:
X_test[:, 1] = labelencoder_X1.fit_transform(X_test[:, 1])
X_test[:, 2] = labelencoder_X2.fit_transform(X_test[:, 2])
X_test[:, 3] = labelencoder_X3.fit_transform(X_test[:, 3])
X_test[:, 4] = labelencoder_X4.fit_transform(X_test[:, 4])
X_test[:, 7] = labelencoder_X7.fit_transform(X_test[:, 7])
X_test[:, 8] = labelencoder_X8.fit_transform(X_test[:, 8])
X_test[:, 9] = labelencoder_X9.fit_transform(X_test[:, 9])
X_test[:, 10] = labelencoder_X10.fit_transform(X_test[:, 10])
X_test[:, 11] = labelencoder_X11.fit_transform(X_test[:, 11])

In [126]:
test_unique_ids = X_test[:,0]

In [127]:
X_test = X_test[:,1:]

In [128]:
# One Hot encoding-->>
X_test = onehotencoder1.fit_transform(X_test).toarray()

/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:451: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

In [129]:
X_test = sc.fit_transform(X_test)

In [130]:
predictions = classifier.predict_classes(X_test)

In [131]:
final_submission = pd.DataFrame(data={'uniqueid':test_unique_ids.reshape(10086,), 'bank_account':predictions.reshape(10086,)})

In [132]:
i=0
def addxcountry(x):
    global i
    #print(i)
    x = x + ' x ' + str(test.iloc[i,1])
    i+=1
    return x

In [133]:
final_submission['uniqueid'] = final_submission.uniqueid.map(addxcountry)

In [134]:
final_submission.to_csv('submission.csv', index=False)